# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: at_client_sdk

on:
  push:
    branches:
      - trunk
  pull_request:
    branches:
      - trunk

jobs:
  unit_and_functional_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Note: This workflow uses the latest stable version of the Dart SDK.
      # You can specify other versions if desired, see documentation here:
      # https://github.com/dart-lang/setup-dart/blob/main/README.md
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable

      # Install dependencies in at_client library
      - name: Install dependencies in at_client
        working-directory: packages/at_client
        run: dart pub get

      # Run analyzer in at_client library
      - name: Analyze project source in at_client
        working-directory: packages/at_client
        run: dart analyze

      # Run unit tests
      - name: Run unit tests, with code coverage measurement
        working-directory: packages/at_client
        run: dart test --concurrency=1 --coverage="coverage"

      #     Commenting out for now, need to investigate and fix but there are hotter fires burning right now
      #      - name: Convert coverage to LCOV format
      #        working-directory: packages/at_client
      #        run: pub run coverage:format_coverage --lcov --in=coverage --out=coverage.lcov --packages=.packages --report-on=lib
      #
      #      - name: Upload coverage to Codecov
      #        uses: codecov/codecov-action@v3.1.0
      #        with:
      #          token: ${{secrets.CODECOV_TOKEN_AT_CLIENT_SDK}}
      #          file: at_client/coverage.lcov
      #          flags: unit_tests

      # Install dependencies in at_functional_test
      - name: Install dependencies in at_functional_test
        working-directory: tests/at_functional_test
        run: dart pub get

      - name: Add entry to hosts file
        run: echo "127.0.0.1    vip.ve.atsign.zone" | sudo tee -a /etc/hosts

      # Start docker container to run functional tests
      - name: Start docker instance
        working-directory: tests/at_functional_test/test
        run: docker-compose pull && docker-compose up -d

      - name: Check for docker container readiness
        working-directory: tests/at_functional_test
        run: dart run test/check_docker_readiness.dart

      - name: Run PKAM
        run: docker exec test_virtualenv_1 supervisorctl start pkamLoad

      - name: Check test environment readiness
        working-directory: tests/at_functional_test
        run: dart run test/check_test_env.dart

      # Run functional tests
      - name: Run functional tests
        working-directory: tests/at_functional_test
        run: dart test --concurrency=1 --coverage="coverage"

      #     Commenting out for now, need to investigate and fix but there are hotter fires burning right now
      #      - name: Convert coverage to LCOV format
      #        working-directory: tests/at_functional_test
      #        run: pub run coverage:format_coverage --lcov --in=coverage --out=coverage.lcov --packages=.packages --report-on=../at_client/lib
      #
      #      - name: Upload coverage to Codecov
      #        uses: codecov/codecov-action@v3.1.0
      #        with:
      #          token: ${{secrets.CODECOV_TOKEN_AT_CLIENT_SDK}}
      #          file: tests/at_functional_test/coverage.lcov
      #          flags: functional_tests

      # Adding flutter to path
      - name: Installing Flutter
        uses: britannio/action-install-flutter@v1.1
        with:
          version: stable

      # Install dependencies of at_client_mobile
      - name: Installing dependencies
        working-directory: packages/at_client_mobile
        run: flutter pub get

      # Analyze at_client_mobile package
      - name: flutter analyze
        working-directory: packages/at_client_mobile
        run: flutter analyze

      # stop docker containers
      - name: stop docker containers
        working-directory: tests/at_functional_test/test
        run: docker-compose down
      
      #tmate to debug actions
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v1
        
  end2end_tests_prep:
    # Don't run on PRs from a fork as the secrets aren't available
    if: ${{ github.event.pull_request.head.repo.fork == false }}
    runs-on: ubuntu-latest

    steps:
      - name: update image on cicd VMs
        # Needs a secret, so don't run for Dependabot PRs
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: "cicd1.atsign.wtf,cicd2.atsign.wtf"
          username: ubuntu
          key: ${{ secrets.CICD_SSH_KEY }}
          script: |
            ./update_ce2e_images.sh

  # The Job runs end-to-end tests between two atSign's running on server trunk branch
  end2end_tests:
    needs: [ end2end_tests_prep ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable

      - name: Install dependencies in at_client
        working-directory: packages/at_client
        run: dart pub get

      # Install dependencies in at_end2end_test
      - name: Install dependencies in at_end2end_test
        working-directory: tests/at_end2end_test
        run: dart pub get

      # Populate at_credentials.dart from CICD_DATA_DART secret
      - name: Get CICD keys into place
        # Needs a secret, so don't run for Dependabot PRs
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: echo "${{secrets.AT_CICD_CREDENTIALS}}" > tests/at_end2end_test/lib/src/at_credentials.dart

      # Move the config file in-place
      - name: Config for @cicd1/2
        run: mv tests/at_end2end_test/config/config12.yaml tests/at_end2end_test/config/config.yaml

      # Run end-to-end test
      - name: End to end test
        # Needs a secret, so don't run for Dependabot PRs
        if: ${{ github.actor != 'dependabot[bot]' }}
        working-directory: tests/at_end2end_test
        run: dart test --concurrency=1

  # The Job runs end-to-end tests between server code running on trunk branch and canary (production ready) server
  end2end_test_14:
    needs: [   end2end_tests ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable

      - name: Install dependencies in at_client
        working-directory: packages/at_client
        run: dart pub get

      # Install dependencies in at_end2end_test
      - name: Install dependencies in at_end2end_test
        working-directory: tests/at_end2end_test
        run: dart pub get

      # Populate at_credentials.dart from CICD_DATA_DART secret
      - name: Get CICD keys into place
        # Needs a secret, so don't run for Dependabot PRs
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: echo "${{secrets.AT_CICD_CREDENTIALS}}" > tests/at_end2end_test/lib/src/at_credentials.dart

      # Move the config file in-place
      - name: Config for @cicd1/4
        run: mv tests/at_end2end_test/config/config14.yaml tests/at_end2end_test/config/config.yaml

      # Run end-to-end test
      - name: End to end test
        # Needs a secret, so don't run for Dependabot PRs
        if: ${{ github.actor != 'dependabot[bot]' }}
        working-directory: tests/at_end2end_test
        run: dart test --concurrency=1